.S1{
    display: flex;
    padding: auto;
    size: 100px;
    margin: auto;
}
.S1{
    margin: auto;
  border-bottom: 30px;  inset: 20px;
  max-height: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: 50px;
  padding-right: 30px;
}
.A1{
    margin-bottom: auto;
    padding: 20px auto;
    size: 100px;
    margin: auto;
    border-bottom: 30px;  inset: 20px;
  max-height: 500px;
  max-width: 1000px;
  margin-left: auto;
  margin-top: 50px;
  margin-right: 0px;
  padding-right: 30px;
  display: ; 
}
.SAMSUNG1{
    padding: 3px 2px 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-display: ;

}
.samp{
    padding: 3px 2px 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-display: initial ;

}
.A2{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A3{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A4{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: fle
}
.A5{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A6{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A7{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A8{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A9{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A10{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ; 
}
.A11{
  margin-bottom: auto;
  padding: 20px auto;
  size: 100px;
  margin: auto;
  border-bottom: 30px;  inset: 20px;
max-height: 500px;
max-width: 1000px;
margin-left: auto;
margin-top: 50px;
margin-right: 50px;
padding-right: 30px;
display: ;  
}
.A12 :hover{
  border-style: inset;
  text-decoration:none;
  color: #fff;
  background-color: #ba2424;
}
.A12{
  color: #ba2424;
  font-size: x-large;
  padding-right: 40px;
  text-decoration: none;
  text-align: right;
}
.A12{
  text-decoration: none;
  margin-top: 30px;
}
.A13{
  background-color: #ba2424;
  border-style: none;
  border-width: 50px;
  box-sizing: border-box;
  border-color: #ba2424;
}
.A14 :hover{
  text-decoration:none;
  color: #fff;
  background-color: #ba2424;
  color: #ba2424;
  font-size: x-large;
  padding-right: 40px;
  text-decoration: none;
  text-align: right;
  text-decoration: none;
}  
.M{
  color: #fff;
  padding-left: 40px;
  margin-top: 40px;
}

.P1{
  padding-left: 40px;
}
.P2{
  padding-left: 40px;
}
.P3{
  padding-left: 40PX;
}
.P4{
padding-left: 40PX;
}
.P5{
  padding-left: 25px;
}
.P6{
  padding-left: 25px;

}
.P7{
  padding-left: 25px;
}
.P8{
  padding-left: 25px;
}
  
.cf{
  color: #fff;
}
.pf{
  color: #fff;
  font-weight:40px;
  font-size: large;
}
.home{
  align-items: center;
  align-content: center;
}
div{text-align: left; padding: 120px; text-align: justify;font-size: 20px; text-align: justify-all;font-family: initial; color: black;}
.about{font-weight: bold;}
nav{text-align: right;padding: 40px; float: right; }
.ahmed{font-family: !important;font-size: 30px; color: black;}
.container{
  color: #fff;
  background-color: #ba2424;
  color: #fff;
}
.style{text-align: left;}
.col1, .col2{ width: 300px; float: left;}
.col2{ font-size: 18px;
 width: 650px;
 line-height: px;
  font-family:!important;
   float: left;
    padding:40px 120px;
    padding-top: 0px;
     text-align: justify;
     margin: 20px 80;
     color:#fff ;
 }
.col1{padding: 20px; padding-bottom: 100px; width:400px; }

.boy{float: right; width: 1020px;}
.buskut{margin: 5px; padding: 160px;}
.osman{margin: 7px;}
.founders{text-align: justify; font-size: 22px; padding: 500px;}
 