*{
    margin: 0;
    padding: 0;
}
body{
    background:#ba2424;
     font-size: 14px;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contect-box{
    background-color: #fff;
    display: flex;
}
.contect-left{
    flex-basis: 60%;
    padding: 40px;
}
.contect-right{
    flex-basis: 40%;
    padding: 40px;
    background-color: #003fee;;
    color: rgb(255, 255, 255);
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border : 1px solid #ccc:
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #003fee;
}
button{
    width: 100px;
    border: none;
    outline: none;
    color: #00ee00;;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    background-color:#4dec03:
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contect-left h3{
    color: #003fee;
    font-weight: 600;
    margin-bottom: 30px;
}\
.contect-right{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
.A12 :hover{
    border-style: inset;
    text-decoration:none;
    color: #fff;
    background-color: #ba2424;
  }
  .A12{
    color: #ba2424;
    font-size: x-large;
    padding-right: 40px;
    text-decoration: none;
    text-align: right;
  }
  .A12{
    text-decoration: none;
    margin-top: 30px;}